<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <!-- <link href="https://fonts.googleapis.com/css?family=Exo+2:400,600&display=swap&subset=cyrillic" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Jura:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <title>Vue-books</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-books doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>