<template>
   <div>
      <h1>This separated book!..</h1>
      <!-- <p>{{books}}</p> -->
      <!-- <router-link class="btn" to="/"><span class="btn__icon">◄</span> Back</router-link> -->
   </div>
</template>

<script>
   export default {
      name: 'Bookpage',
      props: ['books']
   }
</script>

<style lang="scss" scoped>

</style>