<template>
   <div class="home">
      <div class="chart">
         <!-- :data="chartData" :chart-data="data" :settings="chartSettings" :options="{responsive: true, maintainAspectRatio: false}" -->
         <button class="btn btn--sm" @click="updateDataChart">↻</button>
         <line-chart :chart-data="chartData" :options="options" :height="380" chartName="myChart"></line-chart>
      </div>
      <div class="container dashboard">
        <div class="dashboard__item" v-for="item  in limitingBooks" :key="item.id">
          <Book :book="item"/>
        </div>
      </div>
   </div>
</template>

<script>
import LineChart from "../components/LineChart.js";
import Book from "../components/Book";
// import {globalEmitter} from '../main';

export default {
   components: { LineChart, Book },
   data() {
      return {
         books: [],
         // labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
         // data: [40, 42, 14, 46, 39, 76, 45, 40, 53, 60, 68, 60],
         chartData: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],       // this.books.PublishDate
            datasets: [
               {
                  label: 'Количество страниц (среднее)',
                  borderColor: '#41b883',
                  borderWidth: 4,
                  fill:false,
                  data: [40, 42, 14, 46, 39, 76, 45, 40, 53, 60, 68, 60],      //this.books.PageCount
               }
            ]
         },
         options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
               position: "bottom"
            },
            layout: {
               padding: {
                  left: 8,
                  right: 8,
                  top: 35
               }
            }
         }
      };
   },
   async beforeCreate() {
      const response = await fetch('http://fakerestapi.azurewebsites.net/api/Books')
      const posts = await response.json()
      this.books = posts
   },
   computed: {
      limitingBooks() {
         return this.books.filter((book, i) => i < 4);
         // return this.$store.getters.getBooks.filter((book, i) => i < 4);
      },
   },

   mounted() {
      // this.updateDataChart()
   },

   methods: {
      updateDataChart(){
         this.chartData = {
            labels: this.books.map(c =>                             // this.books.PublishDate
                new Date(c.PublishDate).getMonth() + 1 ),
            datasets: [
               {
                  label: 'Pages Count',
                  borderColor: '#41b883',
                  borderWidth: 4,
                  fill:false,
                  data: this.books.map(c => c.PageCount)               //this.books.PageCount
               }
            ]
         }
      }
   },

};
</script>

<style lang="scss">
.home {
	max-width: 1400px;
	margin: 0 auto 40px;
}
.chart {
	padding: 5px calc(1vw + 15px) 20px;
	background-color: rgba(250, 250, 250, 0.3);
   box-shadow: 0 2px 19px -2px rgba(34,34,34,.05);
}
.dashboard {
	padding: 30px 15px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	&__item {
		flex: 1 0 25%;
		margin-bottom: 30px;
		img {
			margin-bottom: 6px;
		}
  }
}
.author-box {
	padding: 20px 10px 10px;
	b {
		display: block;
		margin-bottom: 0.4em;
	}
}
</style>