<template>
    <div>
      <router-link :to="'/book/' + book.ID" class="book__link">
          <img src="img/book.svg" alt="">
          <div class="book__id">{{book.ID}}</div>
      </router-link>
      <button class="btn" @click="spoiler = !spoiler">Автор</button>
      <div class="author-box" v-show="spoiler">
          <h3>{{book.Title}}</h3>
          <p>{{new Date(book.PublishDate).toLocaleDateString()}}</p>
      </div>
    </div>
</template>

<script>

  export default {
    // components: { Bookpage },
    name: 'Book',
    props: ['book'],                //[,spoiler]
    data() {
      return {
        spoiler: false
      }
    },
  }
</script>

<style lang="scss" scoped>
  .book {
    &__link {
      display: block;
      position: relative;
    }
    &__id {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: #999;
      font-size: 1.8em;
      font-weight: bold;
    }
  }

</style>