<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 36px 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    cursor: pointer;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 16px 'Jura', Arial, sans-serif;
  background-color: #dedede;
}
img {
  max-width: 100%;
  height: auto;
}
[type="text"] {
  height: 50px;
  width: 300px;
  margin: 20px 0;
  font-size: 20px;
  padding: 3px 30px;
  display: block;
  outline-color: transparent;
}
h1 {
  color: #35495e;
  font-size: 2.4em;
  margin-bottom: 0.8em;
}
h2 {
  color: #35495e;
  font-size: 3em;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.5em;
  margin-bottom: .4em;
  color: #35495e;
}
hr {
  display: block;
  margin-bottom: 4em;
  margin-top: 4em;
}
.btn {
  display: inline-block;
  padding: 16px 40px;
  font-size: 20px;
  min-width: 230px;
  font-family: inherit;
  font-weight: 700;
  text-shadow: 0 0;
  border-radius: 3.2em;
  border: none;
  text-shadow: 0 0 8px rgba(68,68,68,.2);
  background-image: linear-gradient(150deg,#82c24e,#41b883);
  letter-spacing: .06em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  outline-color: transparent;
  box-shadow: inset 0 1px 2px rgba(250,250,250,.1), 0 4px 10px -2px rgba(0,0,0,.08);
  transition: 0.4s;
  &:hover {
    box-shadow: inset 0 4px 9px 5px rgba(240,240,240,.05), 0 3px 20px rgba(0,0,0,.15);
    transition: .3s;
  }
  &:active {
    box-shadow: inset 0 4px 9px 5px rgba(250,250,250,.14), 0 3px 10px rgba(0,0,0,.1);
    transition: .1s;
  }
  &__icon {
    margin-left: -9px;
    margin-right: 2px;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: 1px
  }
  &--sm {
    min-width: 40px;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 9px;
    margin-right: 9px;
    margin-left: auto;
    display: block;
  }
}
template {
  display: block;
}
</style>